<h1 class="text-2xl font-bold">Pokemons</h1>
<h2 class="text-xl">Page: {{ pokemonsService.offset() / 21 + 1 }}</h2>

<hr class="my-2" />

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  @for (pokemon of pokemonList(); track pokemon.name) {
  <pokemon-card [pokemon]="pokemon" (click)="infoPokemon(pokemon)" />
  }
</div>

<div class="flex justify-between items-center mt-4">
  <button
    (click)="previousPage()"
    [disabled]="pokemonsService.offset() === 0"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 disabled:bg-slate-600 transition-all"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
        clip-rule="evenodd"
      />
    </svg>
  </button>

  <div class="flex gap-2">
    @for (page of getPages(); track page) {
    <button
      (click)="goToPage(page)"
      [class.bg-blue-600]="pokemonsService.offset() / 21 + 1 === page"
      class="px-3 py-1 rounded bg-blue-500 text-white hover:bg-blue-600 transition-all"
    >
      {{ page }}
    </button>
    }
  </div>

  <button
    (click)="nextPage()"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 disabled:bg-slate-600 transition-all"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
  </button>
</div>
