<h1 class="text-2xl font-bold">Pokemons</h1>
<h2 class="text-xl">Página actual: {{ offset() / 21 + 1 }}</h2>

<hr class="my-2" />

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  @for (pokemon of pokemonList(); track pokemon.name) {
  <pokemon-card [pokemon]="pokemon" />
  }
</div>

<div class="flex justify-between mt-4">
  <button
    (click)="previousPage()"
    [disabled]="offset() === 0"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 disabled:bg-slate-600 transition-all"
  >
    Anterior
  </button>

  <button
    (click)="nextPage()"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 disabled:bg-slate-600 transition-all"
  >
    Siguiente
  </button>
</div>
