<nav class="flex items-center justify-between p-4 bg-blue-500 shadow-md">
  <div class="flex items-center gap-2">
    <img
      src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png"
      alt="PokeAPI Logo"
      class="h-8 bg-white rounded-lg p-1"
    />
  </div>

  <div class="flex gap-4">
    <a
      routerLink="/pokemons"
      routerLinkActive="bg-blue-600 font-bold"
      class="text-white hover:bg-blue-600 px-3 py-1 rounded-md transition-all duration-200"
    >
      Pokemons
    </a>
    <a
      routerLink="/about"
      routerLinkActive="bg-blue-600 font-bold"
      class="text-white hover:bg-blue-600 px-3 py-1 rounded-md transition-all duration-200"
    >
      About
    </a>
    <a
      routerLink="/contact"
      routerLinkActive="bg-blue-600 font-bold"
      class="text-white hover:bg-blue-600 px-3 py-1 rounded-md transition-all duration-200"
    >
      Contact
    </a>
  </div>
</nav>
